@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
/*global*/
#body{
	max-width:1200px;
	min-width:800px;
	margin:auto;
	display:block;
	padding:10px;
	padding-bottom:100px;
}
#footer{
	width:100%;
	padding: 3em 3em;
	text-align:center;
	color:#333378;
	font-size:1.5em;
	height:2em;
}
span.slowjudge{
	font-size:2.5em;
	font-family:fantasy;
}
span.slowjudge-footer{
	font-size:3em;
	font-family:monospace;
}


table{
	margin-bottom:40px;
	
}
.green{
	color:green;
}
.black{
	color:black;
}
.yellow{
	color:yellow;
}
.orange{
	color:orange;
}

/*end of global*/

/*profile designs*/
	.handle{
		font-size:2em;
	}
	div.profile-photo{
		margin-top:30px;
		margin-right:40px;
		float:right;
		border:1px solid #999;
		padding:2px;
		max-width:300px;
		max-height:300px;
	}
	img.profile{
		max-height:300px;
		max-width:300px;
	}
	div.photo{
		margin:auto;
	}
	div.photo-upload{
		margin:auto;
	}
	.hidden{
		display:hidden;
	}
	
/*endof profile designs*/





/*  header */
ul.nav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
	
}
li.nav{
	float:left;
	font-size:20px;
	
}


li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

li.nav a:hover {
    background-color: #bdbdbd;
}

.active span{
	background:#bdbdbd;
}
li.user{
	float:right;
	
}
a.uinfo{
	display: inline-block;
	text-decoration:underline;
	text-align:center;
	padding: 5px 16px;
	color:white;
}
a.uinfo:hover {
    background-color: #111;
}

/*End of header */

/*contest index*/
table.conlist{
	border-top: 2px solid #7d7878;
	border-right: 2px solid #7d7878;
	border-left: 1px solid #7d7878;
	border-bottom: 1px solid #7d7878;
	border-collapse:separate;
	font-size:1.3em;
}
td.conlist{
	padding-right:5px;
	padding-left:5px;
}
.cls-start,.cls-status,.cls-in{
   text-align:center;
}
.cls-uname,.cls-name{
   text-align:left;
}

td.conlist,tr.conlist,th.conlist{
	border-left: 1px solid #7d7878;
	border-bottom: 1px solid #7d7878;
}


tr.head-conlist{
	background:#EEE;
	height:30px;
	font-size:1em;
}



/*END contestIndex*/


/*Contest navigation bar*/
ul.navCon{
	list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
	margin-top:2em;
	margin-bottom:2em;
	
}
li.navCon{
	float:left;
	font-size:1em;
	
}

li.navCon a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 7px 10px;
    text-decoration:none;
	border-left:6px solid black;
}
li.navCon a:hover {
    background-color: #DDDDDD;
}
.activecon{
	background:#DDDDDD;
}

/*End of Contest navigation bar*/


/*page structure*/
#sidebar{
	float: right;
    width: 15em;
    display: inline;
    padding-left: 4em;
    margin: 3em 1em 1em -22em;
	border-left:1px solid #dcdbde;
	border-bottom:1px solid #dcdbde;
	
}
#content{
	margin-right:22em;
}
div.problemnametag{
	max-width:1100px;
	text-align:center;
	margin:auto;
}

/*End page structure*/

/*contest*/
/*dash*/



#submit-sub{
	float:right;
}

td.dash,tr.dash,th.dash{
   border: 1px solid #d3ebeb;

}
td.ltr{
	width:20px;
}
td.tl,td.ltr,td.ml,td.cnt{
	text-align:center;
}
.dash{
	margin-left :10%;

}
table.dash{
	width:95%;
	margin:1% 1%;
}

tr.dash-solved{
	background-color:#93c54b;
}
tr.dash-unsolved{
	background-color:#f47c3c;
}



.srctxt,.pdftxt{
	margin-left:5%;
	
}
.pname{
	/*margin:2% 2%;*/
}
.name{
	
	font-size:20px;
	
}
.green{
	color:green;
	
}
.red{
	color:red;
	
}

#addCon{
	margin:2% 0%;
}

#conls{
	margin:10% 10%;
	
}

/*............*/

/*html-deciption*/
div.htmldescription{
	margin-left:1%;
	margin-right:17em;
}
/*.............*/


#pdf-field{
	width:100%;
	height:80%;
}

/*submitpage*/
#submit-onepage{
	max-width:500px;
	
	margin:auto;
	margin-top:50px;
	margin-bottom:100px;
}
/*endof submitpage*/

/*standing*/

table.scrcontestInfo{
	margin: auto;
    padding: 10px;
}
table.scrcontestInfo tr{
	text-align:center;
}
.scrconName{
	font-size: 1.7em;
}
.scrtimeremain{
	font-size:1em;
}
.scrstatus{
	font-size:1.2em;
}
.scrduration{
	display:none;
}

/*standing table*/
table.standing{
	border-top: 2px solid #d3ebeb;
	border-right: 2px solid #d3ebeb;
	border-left: 1px solid #d3ebeb;
	border-bottom: 1px solid #d3ebeb;
	border-collapse:separate;
}

tr.standing{
	display:table-row;
	
}
tr.standing,th.standing,td.standing{
	border-left: 1px solid #d3ebeb;
	border-bottom: 1px solid #d3ebeb;
}
tr.head{
	background:#EEE;
	height:30px;
	font-size:1.5em;
}
tr.even{
	background:#e6eae9;
}
td.field{
	width:3.5em;
	height:2.2em;
}

span.field{
	display: inline-block;
	height:50%;
	width:100%;

}
span.accepted{
	background:#93c54b;
}
span.rejected{
	background:#f47c3c;

}
a.field{
	display: inline-block;
	text-decoration:none;
	text-align:center;
	font-size:.9em;
	background:#555;
	color:white;
	height:50%;
	width:100%;

}
a.standing-head{
	display: inline-block;
	text-decoration:none;
	text-align:center;
	background:#777;
	color:white;
	height:100%;
	width:100%;
}

a.standing-uname{
	
	text-decoration:none;
}
a.default-color{
	color:#5f526d;

}
.sum,.pen{
	text-align:center;
	width:4em;
}
.rank{
	text-align:center;
	width:2em;
}





table.standing{
	width:90%;
	margin:10px 10px;
}



/*end standing*/

/*my submission*/
#who{
	text-align:center;
	font-size:2em;
	color:#555;
}



td.submission{
	padding-right:5px;
	padding-left:5px;
}
th.submission,td.id,td.time,td.cpu,td.memory,td.verdict{
   text-align:center;
}
td.pname,td.lang,td.uname{
	text-align:left;
}


td.submission,tr.submission,th.submission{
	border-left: 1px solid #d3ebeb;
	border-bottom: 1px solid #d3ebeb;
}


table.submission{
	border-top: 2px solid #d3ebeb;
	border-right: 2px solid #d3ebeb;
	border-left: 1px solid #d3ebeb;
	border-bottom: 1px solid #d3ebeb;
	border-collapse:separate;
}

tr.heads{
	background:#EEE;
	height:30px;
	font-size:1em;
}



table.submission td.id{
	width:3em;
	text-align:center;
}
a.verdict{
	text-decoration:none;
}
a.pname,a.uname{
	color:#5f526d;
}

span.acceptedText{
	color:green;
}
span.queueText{
	color:gray;
}
span.rejectedText{
	color:red;

}

/*viewsource*/
table.viewsource{
	width:100%;
}

.buildlog{
	float: right;
    
	
}
.buildlog p{
	color:#f47c3c;
	position:fixed;
	z-index:999;
	width: 20em;
	background:white;
	display: inline;
	padding-left: 4em;
	margin:auto;
	margin: 3em 1em 1em -22em;
}


/*end of contest*/

/*sidebar designs*/
table.contestInfo{
	float:right;
}
table.contestInfo tr{
	background-color:#CCC;
	text-align:center;
}
.conName,.timeremain{
	font-size: 1.7em;
	
}

/*End of sidebar designs*/





body {
    /*margin:1% 5%; padding:0%;*/
    
}


h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#dash input[type=button].minus {
float:right;	
width:30%;
background-color:#001133;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
margin-top:5%;
}
#dash input[type=button].plus {
float:left;
width:30%;
background-color:#001133;
color:#fff;
border:2px solid #00FF00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
margin-top:5%;
}

#dash {
width:75%;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}


#dash  input[type=text].pname{
width:65%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
#dash  input[type=text].limit{
width:15%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}

#dash input[type=submit] {
width:100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}

/*login& register*/
#login {
width:350px;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin:auto;
margin-top:200px;
}

#login  input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
#login input[type=submit] {
margin-top: 5px;
width:30%;
background-color:#333;
color:#fff;
border:2px solid #FFDFDC;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
/*.....................*/






/*manage*/
/*dash manage*/
.signals{
	float:right;
	text-align:center;
	
}
.signal{
	display: inline-block;
	
	width:auto;
	height:2em;
}
.signal a{
	text-decoration:none;
	width:100%;
	height:50%;
	color:white;
	background-color:#444;
}
.box{
	display: inline-block;
	width:70%;

	height:50%;

}
.signallabel{
	width:100%;
	height:50%;
}
.bgred{
		background-color:red;
}
.bggreen{
		background-color:green;
}
.bggreenish{
		background-color:#999900;
}
.bgorange{
		background-color:orange;
}
/*end of dashman*/

/*nameupload*/
 input[type=submit].full-submit {
margin-top:6%;
width:100%;
background-color:#BCBCBC;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;

}
/*eonameup*/


/* dataset*/
div.dataset{
	margin:auto;
	
}
table.ds-problems{
	margin-top:3%;
	margin-left:1%;
	background-color:#DDDDDD
}
.ds-problems td.pname,td.ds-ltr{
	font-size:2em;
}
.ds-problems td.pdfl,td.srcl{
	text-align:right;
}


div.ds-io{
	margin-left:5%;
	margin-top:2%;
}
.ds-io td.sl{
	text-align:right;
}
.ds-io td.in,td.out{

}
.ds-io td.inl,td.outl{
	text-align:right;
}
.ds-io tr{
	width:100%;
}


 input[type=submit].big-submit {
margin-top:6%;
width:25%;
background-color:#BCBCBC;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
margin-left:60%;
}
/*endof dataset*/


/*time table*/
.timetable input[type=datetime-local]
{
		float:right;
}

/*endof Timtable*/




/*endof manage*/

