@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
/*global*/
/*a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}
*/
/*end of global*/



/*  header */
ul.nav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
	margin: 1% 1%;
	
}
li.nav{
	float:left;
	font-size:20px;
	
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
li.nav a:hover {
    background-color: #111;
}
li.user{
	float:right;
	
}
a.uinfo{
	display: inline-block;
	text-decoration:underline;
	text-align:center;
	padding: 5px 16px;
	color:white;
}
a.uinfo:hover {
    background-color: #111;
}

/*End of header */

/*Contest navigation bar*/
ul.navCon{
	list-style-type: none;
    margin: 0;
    padding-left:5%;
	padding-top:2%;
	padding-bottom:2%;
    overflow: hidden;
    background-color: white;
	margin: 1% 1%;
	
}
li.navCon{
	float:left;
	font-size:20px;
	
}

li.navCon a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 7px 10px;
    text-decoration:none;
	border-style:rounded;
	border-left:6px solid black;
}
li.navCon a:hover {
    background-color: #DDDDDD;
}

/*End of Contest navigation bar*/


/*page structure*/

	

/*End page structure*/









#main {
width:960px;
margin:50px auto;
font-family:raleway
}
#header{
	display:inline;
}


/*my code*/

#pdf-field{
	width:80%;
	height:80%;
	float:left;
}

#submit-sub{
	float:right;
}

td.dash,tr.dash,th .dash{
   border: 1px solid black;

}
.sum,.pen{
	width:5%;
}
.name{
	width:20%;
}
.rank{
	width:4%;
}


.dash{
	margin-left :10%;

}
table.dash{
	width:100%;
	margin:1% 1%;
}
.tl,.ml,.sub{
	width:5%;
}

.ltr{
	width:3%;
	
}
.cnt{
	width:4%;
	
}

.srctxt,.pdftxt{
	margin-left:5%;
	
}
.pname{
	margin:2% 2%;
}
.name{
	
	font-size:20px;
	
}
.green{
	color:green;
	
}
.red{
	color:red;
	
}

#addCon{
	margin:2% 0%;
}

#conls{
	margin:10% 10%;
	
}

body {
    margin:1% 5%; padding:0%;
    
}



span {
color:red
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#dash input[type=button].minus {
float:right;	
width:30%;
background-color:#001133;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
margin-top:5%;
}
#dash input[type=button].plus {
float:left;
width:30%;
background-color:#001133;
color:#fff;
border:2px solid #00FF00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
margin-top:5%;
}

#dash {
width:75%;
margin:10% 10%
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}


#dash  input[type=text].pname{
width:65%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
#dash  input[type=text].limit{
width:15%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}

#dash input[type=submit] {
width:100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}


#login {
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}
#register {
	
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px;
	
}
#login  input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
#login input[type=submit] {
width:100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}













#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
